*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: Roboto;
}

  a{
    text-decoration: none;
    font-size: 20px;
    color: #f9faf8;
  }
  ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
  }

  /*Navbar section  */
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2a3745;
    position: fixed;
    top:0;
    width: 100vw;    
    height: 8vh;
    background-image: url(./images/stars.jpg);
    background-size: cover;
    /* background-position: center; */
    color: #f9faf8;
    padding: 16px;
    
  }
  
  .logo{
    font-weight: 800;
    font-size: 24px;
  }
  
  /* Hero Section */
  .hero-section{
    /* background-color: #1f2937; */
    background-image: url(./images/stars.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .image{
    height: 300px;
    width: 500px;
    background-image: url(./images/astronaut-g17d8643d1_1280.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: rgba(255, 251, 251, 0.2) 0px 18px 50px -10px;
    flex: 0 1 auto;
    
  }
  .text{
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 15px;

}
.hero-section h1{
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero-section p{
  font-size: 18px;
  color: #e5e7eb;
  line-height: 25px;

}
  button{
    width: 130px;
    min-height: 40px;
    padding: 10px;
    border-radius: 8px;
    /* align-self: center; */
    background-color: #3882f6;
    color:#f9faf8;
    font-weight: bold;
    font-size: 16px;
    border:none;
    outline: none;
    
  }
  button:hover{
    cursor: pointer;
    background-color: #0048bd;
    color:#f1ffff;
    
  }

  /* Information Section */
  .info-section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    
  }
  .info-section h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
  }
  
  
  .cards{
    margin-top: 35px;
    gap: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    height: auto;
    /* width: 450px; */
    flex-wrap: wrap;
  }
  .info-text p{
    text-align: center;
    width: 150px;
  }
  
  .image-container{
    background-color: rgb(16, 16, 16);
    height: 210px;
    width: 210px;
    border-radius: 10%;
    margin-bottom: 15px;
    
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgb(196, 196, 196);
    
  }

.image-container.one{
  /* background-image: none; */
  background-image: url(./images/9.jpg);
}
.image-container.two{
  /* background-image: none; */
  background-image: url(./images/float.jpg);
}
.image-container.three{
  /* background-image: none; */
  background-image: url(./images/5.jpg);
}
.image-container.four{
  /* background-image: none; */
  background-image: url(./images/3.jpg);
}


  .card{
    /* background-color: rgb(234, 166, 166); */
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
 
  /* Quote Section */
  
  .quote-section{
    background-color: #e5e7eb;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }

  .quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    /* width: 60vw; */
    /* margin: 50px; */
    
}


  .author{
    align-self: flex-end;
    font-size: 18px;
  }
  .quote-section h2{
    font-size: 36px;
    color: #1f2937;
    font-style:italic;
    font-weight:lighter;
  }

  .call-to-action-section{
    display: flex;
    justify-content: center;
  }

  .blue-card{
    background-color: #3882f6;
    width: 65vw;
    border-radius: 10px;
    margin: 80px;
    padding: 40px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .text{
      color: #f9faf8;
  }

  .blue-card button{
    border: 2px solid #f9faf8;
  }


  /* Footer Section */
  footer{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 16px;
    text-align: center;
    height: 10vh;
    padding: 25px;
    margin-top: auto;
  }